body {
    font-family: Verdana, Arial, sans-serif;
    padding: 10px;
    margin: 0px;
    padding: 30px;
    font-size: 140% !important;
}
a img {
    text-decoration: none;
}
h1 {
    font-size: 20px;
}
h1.title {
    float: left;
    padding: 8px 0 0 28px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}
.img-medium {
    max-height: 225px;
    width: auto;
}
.table-fullsize {
    width: 95%;
    margin: 40px;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.center-align {
    text-align: center;
}
.bold {
    font-weight: bold;
}
#header #logo {
    max-height: 100px;
    width: auto;
    float: left;
}
#header #title {
    float: left;
    margin-left: 20px;
    margin-top: 35px;
    color: #fff;
    border: none;
}
#header #menu {
    list-style-type: none;
    display: block;
    padding: 0px;
    margin: 0px;
    position: relative;
    float: left;
}
#header #menu li {
    display: inline;
}
#header #menu li a {
    text-decoration: none;
    color: #000;
}
.clear {
    clear: both;
}
#footer {
    padding: 20px;
    color: #000;
    text-align: center;
}
#footer a {
    color: #333;
}
#footer .license-text {
    margin-left: 20px;
    font-size: 12px;
}
#footer .license-link {
    text-decoration: none;
}
.dataTables_paginate {
    padding-right: 40px;
}
.paginate_button {
    padding: 0px 8px 0px 8px;
}
.dataTables_length {
    display: inline;
    float : left;
}
.dataTables_filter {
    display: inline;
    float : right;
}
#top-bar {
    position: fixed;
    top:0px;
    left : 0px;
    width: 100%;
    background: #337ab7;
    z-index: 999999;
    color: #fff;
}
#top-bar ul li a {
    color: #fff !important;
}
#top-bar select {
    color : #000 !important;
}
#current-env {
    float: left;
    font-weight: bold;
    margin-left: 21%;
    padding: 6px 12px;
    color: #CCFFCC;
}
#current-env.no-env {
    color: #FAA;
}
#change-env {
    position : absolute;
    padding: 6px 12px;
    float: left;
    right: 0px;
}
.edit-script {
    display: none;
}
.paginate_button {
    cursor : pointer;
}
.paginate_button.current {
    text-decoration: underline;
    font-weight: bold;
}
.editfile-field {
    width: 100%;
    height: 100%;
}
.selected-section {
    font-weight: bold !important;
    text-decoration: underline !important;
}
.editform {
    height: 100%;
}
.jumbotron {
    padding: 20px !important;
}
.jumbotron.ui-dialog-content , .jumbotron.ui-dialog-content p{
    margin-bottom: 0px !important;
    font-size: 14px !important;
}