<div id="footer">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <a rel="license" class="license-link" href="http://www.gnu.org/licenses/gpl-3.0.html">This sofware is licensed under a GNU GPLv3 License</a>
</div>