<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Dugong | Your friendly DBV</title>
    {% for file in css %}
    <link href="{{ file|e }}" rel="stylesheet" type="text/css" />
    {% endfor %}
    {% for file in js %}
    <script type="text/javascript" src="{{ file|e }}"></script>
    {% endfor %}
    <!-- Favicon stuff -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ imgurl }}favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ imgurl }}favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ imgurl }}favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ imgurl }}favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ imgurl }}favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ imgurl }}favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ imgurl }}favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ imgurl }}favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ imgurl }}favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ imgurl }}favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ imgurl }}favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ imgurl }}favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ imgurl }}favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ imgurl }}favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ imgurl }}favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>